<div class="addExpenses">
   <div class="addExpenses allExpenses">
      <div class="navigation">
        <a href="/addExpenses/{{name}}" class="nextLink"><button
            class="navButton first"
          >Add</button></a>
        <a href="/allExpenses" class="nextLink"><button
            class="navButton"
          >Expenses</button></a>
          <a href="/logout" class="nextLink"><button
            class="navButton"
          >Log out</button></a>
          <a href="/notifications"><i class="fa-solid fa-bell"><span class="count">0</span></i></a>

      </div>
  <div class="notification">
    <p class="notifDate">20/09/2022</p>
    <hr />
    <p class="txtMsg">Hello Ntsakelo, You haven't added any expense for the past
      day</p>
  </div>
</div>