<div class="addExpenses">
   <div class="addExpenses allExpenses">
      <div class="navigation">
        <a href="/addExpenses/{{name}}" class="nextLink"><button
            class="navButton first"
          >Add</button></a>
        <a href="/allExpenses" class="nextLink"><button
            class="navButton"
          >Expenses</button></a>
          <a href="/logout" class="nextLink"><button
            class="navButton"
          >Log out</button></a>
          <a href="/notifications"><i class="fa-solid fa-bell"><span class="count">{{count}}</span></i></a>

      </div>
    {{#each myMessages}}
  <div class="notification">
    <p class="notifDate">{{this.date}}</p>
    <hr />
    <p class="txtMsg">{{this.message}}</p>
  </div>
  {{/each}}
</div>