<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View expenses</title>
  </head>
  <body>
    <div class="addExpenses" id="expensesDisplay">
      <div class="head">
        <h1>Expenses for {{name}}</h1>
      </div>
      <h5 class="expenseHead">Weekly expenses</h5>
      <div class="expenses">
        <ul class="expensesList">
          {{#each userExpenses}}
            <li class="expense">
              <div class="category">
                <p>{{this.category}}</p>
              </div>
              <div class="expenseAmount">
                <p>{{this.amount}}</p>
              </div>

            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </body>
</html>