<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View expenses</title>
  </head>
  <body>
    <div class="addExpenses">
      <div class="head">
        <h1>Expenses for {{name}}</h1>
        <h5>Weekly expenses</h5>
      </div>
      <div class="expenses">
        <ul class="expensesList">
          <li class="expense">
            <div class="category">
              <p>Groceries</p>
            </div>
            <div class="expenseAmount">
              <p>R200</p>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </body>
</html>