<div class="addExpenses">
  <div class="table">
    <table class="weeklyExpenses">
      <th>week 1</th>
      <th>week 2</th>
      <th>week 3</th>
      <th>week 4</th>
      {{#each weeklyData}}
        <td></td>
      {{/each}}
    </table>
  </div>
</div>