@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.addExpenses {
  font-family: "Montserrat", sans-serif;
  border: 1px solid grey;
  height: 450px;
  background-color: rgb(58, 58, 58);
}
.head {
  text-align: center;
  color: silver;
}
form {
  text-align: center;
}
.messages {
  height: 20px;
  margin-bottom: 5px;
}
.errMsg {
  text-align: center;
  color: silver;
}
.register {
  height: 460px;
}
.code {
  text-align: center;
  color: silver;
}
.name {
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
  outline: none;
  color: rgb(52, 210, 210);
}
.name::placeholder {
  color: rgb(52, 210, 210);
}

#category {
  height: 30px;
  width: 170px;
  margin-bottom: 20px;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
  color: rgb(52, 210, 210);
}
.email {
  height: 30px;
  display: block;
  margin: auto;
  width: 165px;
  margin-top: 20px;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
  color: rgb(52, 210, 210);
  outline: none;
}
.email::placeholder {
  color: rgb(52, 210, 210);
}
.date {
  height: 30px;
  display: block;
  margin: auto;
  width: 165px;
  margin-top: 20px;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
  color: rgb(52, 210, 210);
  outline: none;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
.amount {
  height: 30px;
  display: block;
  margin: auto;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
  outline: none;
  color: rgb(52, 210, 210);
}
.amount::placeholder {
  color: rgb(52, 210, 210);
}
.enterBtn {
  display: block;
  margin: auto;
  width: 170px;
  height: 30px;
  margin-top: 30px;
  color: white;
  background-color: rgb(52, 210, 210);
  border-radius: 15px;
  border: none;
}
.viewBtn {
  display: block;
  margin: auto;
  width: 170px;
  height: 30px;
  margin-top: 30px;
  color: white;
  background-color: rgb(52, 210, 210);
  border-radius: 15px;
  border: none;
}
.viewBtn:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.enterBtn:hover {
  cursor: pointer;
}
#expensesDisplay {
  height: 900px;
}
.expenseHead {
  color: silver;
  text-align: center;
}

.expenses {
  color: silver;
}
li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid silver;
  width: 100%;
}
.expensesList {
  margin: 0;
  padding: 0;
}
.category {
  display: inline-block;
}
.expenseAmount {
  display: inline-block;
}
.noFilter {
  height: 30px;
  display: block;
  margin: auto;

  margin-top: 20px;
  background-color: rgb(58, 58, 58);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
  outline: none;
  color: rgb(52, 210, 210);
}
.noFilter::placeholder {
  color: rgb(52, 210, 210);
}
.expenseTotals {
  margin-top: 30px;
}
.expenseTotals div {
  width: 150px;
  height: 50px;
  /* border: 1px solid red; */
  display: block;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgb(58, 58, 58);
  box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
}

.categoryTot p {
  color: silver;
  margin: 0px;
  padding: 0;
}
.backLinks {
  text-align: center;
}
.backLink {
  color: rgb(195, 195, 195);
  display: block;
  margin-bottom: 5px;
}
.navigation {
  text-align: center;
  border-bottom: 1px solid silver;
}
.navButton {
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
  border: none;
  border: 1px solid silver;
  background-color: rgb(58, 58, 58);
  color: silver;
}
.first {
  border-left: 1px solid silver;
}
.navButton:hover {
  background-color: rgb(52, 210, 210);
  color: white;
  cursor: pointer;
}
.navButton:focus {
  background-color: rgb(52, 210, 210);
  color: white;
}
table {
  color: silver;

  margin: auto;
  margin-top: 20px;
  width: 70%;
}
tr {
  text-align: center;
}
.expenses p {
  text-align: center;
}
.allExpenses {
  height: 100%;
}
@media screen and (max-width: 420px) {
  .amount::placeholder {
    font-size: 20px;
  }
  .name::placeholder {
    font-size: 20px;
  }
  optgroup {
    font-size: 20px;
  }

  .first {
    border-left: 1px solid silver;
  }
  table {
    width: 100%;
    overflow-x: auto;
  }
}
@media screen and (min-width: 720px) {
  .expenseTotals {
    text-align: center;
    margin-top: 30px;
  }
  .expenseTotals div {
    display: inline-block;
    width: 200px;
  }
}
